@model Harmony.Presentation.Main.Models.IndexViewModel


<!--Estilo de las fotos del carousel y el navbar-->
<style>

    .carousel-item img {
        width: 400px; 
        height: 900px; 

    .my-img-carousel {
        width: 500px; 
        height: 900px; 
         

    }

    .my-navbar {
        background-color: #ede5f3;
    }

    .my-links .nav-link {
        color: #6fa0cc;
        float: right;
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
    }

    .my-img-logo {
        width: 50px;
</style>

 <!-- Carousel -->
<div id="demo1" class="container carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        @for (var i = 0; i < Model.CarouselItems.Count; i++)
        {
            <button type="button" data-bs-target="#demo1" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
        }
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        @foreach (var item in Model.CarouselItems)
        {
            <div class="carousel-item @(item == Model.CarouselItems.First() ? "active" : "")">
                <img src="@item.ImageUrl" alt="@item.CaptionTitle" class="d-block w-100 my-img-carousel">
                @if (!string.IsNullOrEmpty(item.CaptionBody))
                {
                        <div class="carousel-caption">
                            <h4>@item.CaptionTitle</h4>
                            <p>@item.CaptionBody</p>
                            @if (item.HasButtons)
                            {
                                    <button type="button" class="btn btn-primary">Ver Más...</button>   
                            }
                        </div>
                }
                </div>
        }
        
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

    <!--Menú de navegación o Navbar-->
    <nav class="navbar navbar-expand-sm fixed-top my-navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="https://i.ibb.co/WvbGTh7/harmony-logo-negro.png" alt="Harmony Logo" class="rounded-pill my-img-logo" />
            </a>
            <ul class="navbar-nav ms-auto my-links">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#perfilEmpleado">Equipo de trabajo</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")#footerAncla">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Aquí se acaba el navbar-->

<div style="background-color: #1A1D39; padding: 20px; margin-top: 40px; width: 100%;" id="perfilEmpleado">
    <h1 style="color: white; font-weight 600; text-align: center;">Empleados</h1>
    @await Html.PartialAsync("~/Views/Shared/Components/EmpeladoCard.cshtml")

</div>




