@model Harmony.Presentation.Main.Models.IndexViewModel

@using Microsoft.AspNetCore.Http

<!--Menú de navegación o Navbar-->
<nav class="navbar navbar-expand-sm fixed-top my-navbar bg-white">

    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        <img src="https://i.ibb.co/WvbGTh7/harmony-logo-negro.png" alt="Harmony Logo" class="rounded-pill my-img-logo" />
    </a>
    <ul class="navbar-nav ms-auto my-links">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#perfilEmpleado">Equipo de trabajo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")#footerAncla">Contacto</a>
        </li>

        @if (TempData["IsUserLogIn"] == null)
        {

            <li class="nav-item">

                <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesion</a>

            </li>
        }

        @if (TempData["IsUserAdmin"] != null)
        {

            <li class="nav-item">

                <a class="nav-link btn btn-outline-info" asp-area="" asp-controller="Admin" asp-action="Index">Admin panel</a>

            </li>
        }

        @if (TempData["IsUserLogIn"] != null)
        {

            <li class="nav-item">
                <a class="nav-link btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="LogOut">Cerrar Sesion</a>

            </li>
        }
    </ul>

</nav>


<div class="body-index">



    <div id="demo1" class="container carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.CarouselItems.Count; i++)
            {
                <button type="button" data-bs-target="#demo1" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
            }
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            @foreach (var item in Model.CarouselItems)
            {
                <div class="carousel-item @(item == Model.CarouselItems.First() ? "active" : "")">
                    <img src="@item.ImageUrl" alt="@item.CaptionTitle" class="d-block w-100 my-img-carousel">
                    @if (!string.IsNullOrEmpty(item.CaptionBody))
                    {
                        <div class="carousel-caption">
                            <h4>@item.CaptionTitle</h4>
                            <p>@item.CaptionBody</p>
                            @if (item.HasButtons)
                            {
                                <button type="button" class="btn btn-primary">Ver Más...</button>
                            }
                        </div>
                    }
                </div>
            }

        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>


    <div style="background-color: #1A1D39; padding: 20px; margin-top: 40px; width: 100%;" id="perfilEmpleado">
        <h1 style="color: white; font-weight 600; text-align: center;">Empleados</h1>
        @await Html.PartialAsync("~/Views/Shared/Components/EmpeladoCard.cshtml")

    </div>

    
    <div class="container mt-5">
        <h2 class="text-center mb-4">Testimonios de clientes</h2>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://steminist.com.ua/wp-content/uploads/2020/06/img_0039_1pp-maria-mageena.jpg" height="200px" alt="Cliente 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del cliente 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h1 style="color: white; font-weight 600; text-align: center;"></h1>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://www.redaccionmedica.com/images/destacados/las-personas-con-un-riesgo-genetico-bajo-de-tdah-son-mas-afortunadas--2868.jpg" height="200px" alt="Cliente 2" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Nombre del cliente 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h1 style="color: white; font-weight 600; text-align: center;"></h1>
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg" height="200px" alt="Cliente 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del cliente 3</h5>
                        <h1 style="color: white; font-weight 600; text-align: center;"></h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>