@model Harmony.Presentation.Main.Models.IndexViewModel


<!--Estilo de las fotos del carousel-->
<style>
    .carousel-item img {
        width: 100%; 
        height: auto; 
        object-fit: cover; 
    }
</style>

 <!-- Carousel -->
<div id="demo1" class="container carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        @for (var i = 0; i < Model.CarouselItems.Count; i++)
        {
            <button type="button" data-bs-target="#demo1" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
        }
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        @foreach (var item in Model.CarouselItems)
        {
            <div class="carousel-item @(item == Model.CarouselItems.First() ? "active" : "")">
                <img src="@item.ImageUrl" alt="@item.CaptionTitle" class="d-block w-100">
                @if (!string.IsNullOrEmpty(item.CaptionBody))
                {
                        <div class="carousel-caption">
                            <h4>@item.CaptionTitle</h4>
                            <p>@item.CaptionBody</p>
                            @if (item.HasButtons)
                            {
                    
                                <button type="button" class="btn btn-primary">Ver Más...</button>
                            }
                        </div>
                }
                </div>
        }
        
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div> 

