@model Harmony.Presentation.Main.Models.IndexViewModel

@using Microsoft.AspNetCore.Http

<!--Menú de navegación o Navbar-->
<nav class="navbar navbar-expand-sm fixed-top my-navbar bg-white">

    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
        <img src="https://i.ibb.co/WvbGTh7/harmony-logo-negro.png" alt="Harmony Logo" class="rounded-pill my-img-logo" />
    </a>
    <ul class="navbar-nav ms-auto my-links">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#acercaDe">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Empleados">Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#EEmpleados">Equipo de trabajo</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#Testimonios">Testimonios </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")#footerAncla">Contacto</a>
        </li>

        @if (TempData["IsUserLogIn"] == null)
        {


            <li class="nav-item">

                <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesion</a>

            </li>
        }

        @if (TempData["IsUserAdmin"] != null)
        {

            <li class="nav-item">

                <a class="nav-link btn btn-outline-info" asp-area="" asp-controller="Admin" asp-action="Index">Admin panel</a>

            </li>
        }
        @if (TempData["IsUserLogIn"] != null && TempData["IsUserAdmin"] == null)
        {
            <li class="nav-item">

                <a class="nav-link btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="MyAccount">Mi informacion</a>

            </li>
        }
        @if (TempData["IsUserLogIn"] != null)
        {


            <li class="nav-item">
                <a class="nav-link btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="LogOut">Cerrar Sesion</a>

            </li>
        }
    </ul>

</nav>


<div class="body-index">



    <div id="demo1" class="container carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.CarouselItems.Count; i++)
            {
                <button type="button" data-bs-target="#demo1" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
            }
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            @foreach (var item in Model.CarouselItems)
            {
                <div class="carousel-item @(item == Model.CarouselItems.First() ? "active" : "")">
                    <img src="@item.ImageUrl" alt="@item.CaptionTitle" class="d-block w-100 my-img-carousel">
                    @if (!string.IsNullOrEmpty(item.CaptionBody))
                    {
                        <div class="carousel-caption">
                            <h4>@item.CaptionTitle</h4>
                            <p>@item.CaptionBody</p>
                            @if (item.HasButtons)
                            {
                                <button type="button" class="btn btn-primary">Ver Más...</button>
                            }
                        </div>
                    }
                </div>
            }

        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="card w-100 shadow p-2 mb-2 bg-white rounded my-4" id="acercaDe">
        <h2 class="fw-bold text-center font-monospace">Acerca de HARMONY</h2>
    </div>


    <div class="row text-center my-4">
        <div class="col-4">
            <div class="card w-100 shadow p-3 mb-4 bg-white rounded">
                <div class="card-body">
                    <h4 class="fw-bold">
                        Misión de Harmony
                    </h4>
                    <p>
                        En Harmony, nos dedicamos a proporcionar servicios domésticos excepcionales con un enfoque centrado en el bienestar de nuestros clientes. Nuestra misión es crear un entorno armonioso en cada hogar, ofreciendo soluciones de limpieza y cuidado personal de alta calidad.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card w-100 shadow p-3 mb-4 bg-white rounded">
                <div class="card-body">
                    <h4 class="fw-bold">

                        Visión de Harmony
                    </h4>
                    <p>
                        En Harmony, aspiramos a ser reconocidos como el referente líder en servicios domésticos, destacando por nuestra dedicación a la excelencia, integridad y cuidado personalizado.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card w-100 shadow p-3 mb-4 bg-white rounded">
                <div class="card-body">
                    <h4 class="fw-bold">

                        Valores de Harmony
                    </h4>
                    <p>
                        Integridad: Actuar con honestidad y transparencia en todas las interaccionesCompromiso con la Calidad: Buscar la excelencia en todos los aspectos de nuestros serviciosRespeto: Tratar a nuestros clientes, empleados y colaboradores con dignidad y respeto
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4" id="Empleados">

        @await Html.PartialAsync("~/Views/Shared/Components/EmpeladoCard.cshtml", Model.Employees)

    </div>

    <div class="my-4" id="EEmpleados">

        @await Html.PartialAsync("~/Views/Shared/Components/EquipoTrabajo.cshtml", Model.EEmployees)

    </div>


    <div class="container mt-5" id="Testimonios">


        <div class="card w-100 shadow p-2 mb-2 bg-white rounded">
            <h2 class="fw-bold text-center font-monospace">Testimonios de clientes</h2>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-3 mb-4">
                <div class="shadow card">
                    <img src="https://www.clinicalascondes.cl/getattachment/b666ad10-c057-480b-805f-1f937afdb279/" height="200px" alt="Cliente 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Herman McHome</h5>
                        <p class="card-text">
                            ¡Increíble experiencia! Gracias a esta plataforma, conseguí una ayuda confiable para las tareas del hogar. La interfaz amigable hizo que todo fuera sencillo y eficiente. ¡Altamente recomendado!
                            <div class="rating">
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #ffff56;"></i>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="shadow  card">
                    <img src="https://www.redaccionmedica.com/images/destacados/las-personas-con-un-riesgo-genetico-bajo-de-tdah-son-mas-afortunadas--2868.jpg" height="200px" alt="Cliente 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Mr Balcan Shah</h5>
                        <p class="card-text">
                            Encontré la solución perfecta para el cuidado de mis padres mayores. La plataforma facilitó la conexión con cuidadores de confianza y brindó tranquilidad a toda la familia.
                            <div class="rating">
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #ffff56;"></i>
                                <i class="fa fa-star" style="color: #ffff56;"></i>
                            </div>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="shadow card">
                    <img src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg" height="200px" alt="Cliente 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Cintya Shakkur</h5>
                        <p class="card-text">
                            No puedo imaginar mi vida sin esta plataforma. La búsqueda de servicios domésticos se volvió tan fácil. ¡Conecté con un cuidador increíble en minutos! Definitivamente, la mejor opción.
                            <div class="rating">
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                            </div>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 mb-4">
                <div class="shadow card">
                    <img src="https://img.freepik.com/foto-gratis/vista-frontal-hombre-anillo-nariz_23-2149441219.jpg?w=1380&t=st=1702353789~exp=1702354389~hmac=287d2a7a88bdfc5836de450811a55a913e563665749986d2f4e2cf27a356839a" height="200px" alt="Cliente 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Notorius Big</h5>
                        <p class="card-text">
                            ¡Qué alivio haber encontrado esta plataforma! La calidad del servicio y la rapidez para encontrar ayuda en el hogar son inigualables. Estoy muy satisfecha con la atención y profesionalismo ofrecidos.
                            <div class="rating">
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                                <i class="fa fa-star" style="color: #cbcf00;"></i>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>